[comet]
api_key=ChYAbd5DKfQjarzk1D1td7PRx
project_name=Guns-Detection

COMET_MODE=online
COMET_MODEL_NAME='guns_model'
COMET_LOG_CONFUSION_MATRIX=false
COMET_MAX_IMAGE_UPLOADS=100
COMET_LOG_PER_CLASS_METRICS=true
% COMET_DEFAULT_CHECKPOINT_FILENAME=<checkpoint filename> # resume training from a checkpoint. Defaults to 'last.pt'
COMET_LOG_BATCH_LEVEL_METRICS=true
COMET_LOG_PREDICTIONS=true